~
build/
[Bb]in
[Dd]ebug*/
[Ll]ogs/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.zip
*.[Pp]ublish.xml
packages/
setup/
Backup/

src/.vs/
